
<div class="container mx-auto text-center" style="width: 600px;">
  <h1>About</h1>
  <div class="d-flex align-items-center">

  <div class="row">


        <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるように、<br>
        様々なバリデーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。</p>

    </div>
  </div>
</div>
