<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h2>新着商品</h2>
 <% @items.each do |item| %>
  <div><%= image_tag item.image %><br>
      <%= item.name %><br>
      <%= item.price %>円
  </div>
 <% end %>
  </div>
 </div>
</div>